.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner .product{
    /* background-color: red; */
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left: 0px;
    display: flex;
}

.banner .product .soda{
    background:
        var(--url) var(--left) 0,
        url(images/mockup.png);
    background-size: auto 100%;
    width: 280px;
    /* height: 500px;  */
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    mask-image: url(images/mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.banner .product:hover{
    --left: -1000px;
    transform: translateX(-50%) translateY(-120px);
}

.banner .rock{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;    
}

.banner .rock img{
    position: absolute;
    transition: 0.7s;
}

/* 1st rock image */
.banner .rock img:nth-child(1){
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.banner:has(.product:hover) .rock img:nth-child(1){
    transform:  translateX(-50px) translateY(50px);;
}

/* 2nd rock image */
.banner .rock img:nth-child(2){
    height: 50%;
    left: 0;
    bottom: 0;
}

.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}

/* 3rd rock image */
.banner .rock img:nth-child(3){
    height: 100%;
    right: 0;
    bottom: -100px;
    rotate: -25deg;
}

.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px);
}

/* Hide 2nd soda can */
.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2) {
    opacity: 1;
} 